
body{ /* Colors the body*/
    background-color: #1b1e31;
}

#title{ /* Formats the title */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f25c5a;
    font-weight: bolder;
    background-color: #1b1e31;
    padding: none;
    font-size: xx-large;
}

#Help{
    height: 50px;
    width: 100px;
    color: #9a8d98;
}

#Help:hover{
    background-color: #f25c5a;
    color: #4a4e68;
}

img { /* Formats the images */
    height: 100px;
    width: 100px;
}

p{ /* Formats the paragraphs */
    color: #f2a163;
}

button { /* Formats the buttons */
    background-color: #1b1e31;
    color: #f25c5a;
    transition-delay: 0.4s;
    height: 100px;
    width: 100px;
    border-radius: 12px;
}

button:hover { /* Formats the buttons when you hover over them */
    color: #f25c5a;
    border-color: #f25c5a;

}

#Buttons{ /* Formats the collection of buttons (Flexbox) */
    display: flex;
    flex-direction: column;
    background-color: #4a4e68;
    padding: none;
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
    justify-content: space-evenly;
    flex: 30%;
}

#clicky{/* Formats the gabagool section (flexbox) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #9a8d98;
    flex: 50%;
}

#gobbagool{ /* Formats the gobba gool clicky */
    background-color: #9a8d98;
    border: none;
    height: 600px;
    width: 600px;
    transition: 0.5s;
}
#gobbagool:hover{ /* makes sure that the button formating doesn't apply when hovered, also resizes it when hoverd*/
    background-color: #9a8d98;
    border: none;
    height: 700px;
    width: 700px;
}

/* formats the img of the gobba gool*/
#gobbaImg{
    height: auto;
    width: auto;
}
#gobbaImg:hover{
    height: 700px;
    width: 700px;
}
#gobbaImg:active{
    height: 800px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

/* makes sure that the flexboxes are next to eachother*/
#collums{
    display: flex;
    flex-wrap: wrap;
}

/* formats the counter*/
#bank{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: #f2a163;
    padding: none;
}

/* formats the perSecond counter*/
#perSecond{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    color: #f2a163;
    padding: none;
}


