
#title{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f25c5a;
    font-weight: bolder;
    background-color: #1b1e31;
    padding: none;
    font-size: xx-large;
}

button {
    background-color: #f25c5a;
    color: #1b1e31;
    transition-delay: 0.4s;
    height: 100px;
    width: 100px;
}

img {
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: #1b1e31;
    color: #f25c5a;
    border-color: #f25c5a;

}

body{
    background-color: #9a8d98;
}

#collums{
    display: flex;
    flex-wrap: wrap;
}

#bank{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: #f2a163;
    padding: none;
}

#perSecond{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    color: #f2a163;
    padding: none;
}

#clicky{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#Buttons{
    display: flex;
    flex-direction: column;
    background-color: #4a4e68;
    padding: none;
    flex-wrap: wrap;
    width: 500px;
    height: 800px;
}

#gobbagool{
    border-radius: 12px;
    background-color: #4a4e68;
    color: #f25c5a;
}

#gobbaImg{
    size: 600px;
}